* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
}

.root {
    background: var(--Light-pink);
    padding: 0 0 7rem;
}

/* .background {
    content: url(../../assets/images/background-pattern-desktop.svg);
    width: 100%;
} */

.background > img {
    width: 100%;
}


.faq-card {
    background: var(--White);
    height: auto;
    width: fit-content;
    max-width: 40rem;
    padding: 2rem;
    border-radius: 10px;
    margin: 0 auto;

}

.heading {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 1.2rem
}

.heading > img{
    display: inline-block;
    z-index: -1;
}

.heading > h1 {
    display: inline-block;
    font-size: 4rem;
    margin: 0;
}

.content {
    display: grid;
    grid-template-columns: 1fr 50px;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem;
    border-bottom: 1px solid var(--Light-pink);
}

.content > h2{
    font-size: 1.1rem;
    color: var(--Dark-purple);
}

.content p {
    font-size: .9rem;
    color: var(--Grayish-purple);
    letter-spacing: .01rem;
    line-height: 1.5rem;
    display: none;
}